#Tuplas

* Tuplas são imutaveis (Não pode alterar os valores)

### Declaração de tuplas

In [2]:
tupla = 'a', 'b', 'c', 'd'

tupla1 =  ('a', 'b', 'c') #mais utilizada

tupla2 = ('a',) #tem que ter a vírgula depois 

tupla3 = ('a') #sem a vírgula é str e não tupla

tupla4 = () #tupla vazia

print(tupla1)
print(type(tupla2))
print(type(tupla3))

('a', 'b', 'c')
<class 'tuple'>
<class 'str'>

###Imprimindo valores da tupla

In [3]:
tupla =  ('a', 'b', 'c') 

print(tupla[0])
print(tupla[1])
print(tupla[2])

a
b
c

In [4]:
frutas = ('banana', 'abacate', 'jabuticaba')

for nome in frutas:
  print('O nome é:', nome)

O nome é: banana
O nome é: abacate
O nome é: jabuticaba